.header {
  padding: 20px;
  background-color: rgb(255, 238, 219);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: system-ui, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 102, 102);
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
